/* for card layout */
.gallery-row {
    margin-bottom: 2rem;
}

body {
	font-family: "Helvetica Neue";
    padding-left: 15px;
    padding-right: 8px;
    letter-spacing: 1px;
    color: #d9dadb;
    background-color: #0a0909;
    line-height: 35px;
}

.card-body a{ /* changes the style of a only when it's inside of card-body */
    text-decoration: none;
    color: black;
}

.card-body a:hover{ /* changes the style of a ON HOVER and only when it's inside of card-body */
    color: blueviolet;
}

.projectVideo {
	border-spacing: 4px;
	padding: 30px;
}

.film {
	padding-left: 2px;
    color: #7a7979;
}


.about {
    letter-spacing: 2px;
    padding-left: 60px;
    line-height: 35px;
}




