/* for card layout */
.gallery-row {
    margin-bottom: 2rem;
}

.card-body a{ /* changes the style of a only when it's inside of card-body */
    text-decoration: none;
    color: black;
}

.card-body a:hover{ /* changes the style of a ON HOVER and only when it's inside of card-body */
    color: blueviolet;
}

body {
	font-family: "Helvetica Neue";
    padding-left: 15px;
    padding-right: 8px;
    letter-spacing: 1px;
    color: #d9dadb;
    background-color: #191919;
}

.projectVideo {
	border-spacing: 4px;
	padding: 30px;
}

.film {
	padding-left: 2px; 
}
<<<<<<< HEAD
=======

>>>>>>> 75827c9e533e323748298bf25533b0b5d2caf294
